# Format: Nom Unique <email-unique> Nom à remplacer <email-à-remplacer>

# Fusion pour Fy-Tommy 
Fy-Tommy <fytommyrama@etu.u-bordeaux.fr> laomy <fytommyrama@gmail.com>
Fy-Tommy <fytommyrama@etu.u-bordeaux.fr> Fy-Tommy RAMANANAHERISOA <fytommyrama@gmail.com>
Fy-Tommy <fytommyrama@etu.u-bordeaux.fr> Fy-Tommy RAMANANAHERISOA <fy-tommy.ramananaherisoa@etu.u-bordeaux.fr>

# Fusion pour Faniry
Faniry Hoareau <faniry.hoareau@etu.u-bordeaux.fr> HOAREAU Faniry <faniry.hoareau@etu.u-bordeaux.fr>

# Fusion pour Lalatiana
Lalatiana Randriamihaja <lalatiana.randriamihaja@etu.u-bordeaux.fr> Lalatianalinda <lalatianalinda@gmail.com>
Lalatiana Randriamihaja <lalatiana.randriamihaja@etu.u-bordeaux.fr> Lalatiana RANDRIAMIHAJA <lalatiana.randriamihaja@etu.u-bordeaux.fr>

# Fusion pour Daniel Atwi
Daniel Atwi <daniel.atwi@etu.u-bordeaux.fr> <Daniel.atwi99@gmail.com>
Daniel Atwi <daniel.atwi@etu.u-bordeaux.fr> <daniel.atwi99@gmail.com>
Daniel Atwi <daniel.atwi@etu.u-bordeaux.fr> youssef mcheik <youssef.mcheik@etu.u-bordeaux.fr>
